/** Begin reset */
*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p
{
    margin-bottom: 10px;
}
ol, ul, dl
{
    list-style-position: inside;
}
/** End reset */
/** Begin standard selectors */
body
{
    font: 13px 'Trebuchet MS' , Verdana, Helvetica, Arial, sans-serif;
}
a
{
    text-decoration: none;
}
a:link, a:visited
{
    color: inherit;
}
a:hover
{
    text-decoration: underline;
}
strong
{
    font-weight: 800;
    color: #000;
}
/** End standard selectors */

#jTable
{
    border-collapse: collapse;
    border: 1px solid #ccc;
}
#jTable td
{
    color: #aaa;
}

.jTable-Row
{
    background-color: #88ff88;
    color: #000;
}

.jTable-Edit-Cell
{
    background-color: #eee;
    color: #000;
    font-size: inherit;
    border: 1px solid black;
}

.jTable-options
{
    text-align: right;
}

.jTable-edit, .jTable-save, .jTable-cancel
{
    cursor: pointer;
    color: #0000aa;
    font-size: 2em;
    padding: 0 5px 0 5px
}
/** Default rendering of save and cancel elements **/
.jTable-save, .jTable-cancel
{
    display: none;
}



.jTable-main
{
    position: absolute;
    top: 200;
    left: 40%;
}

td
{
    padding: 5px;
    border: 1px solid #aaa;
}

table
{
        font-size: 5em !important;
}
