/** Begin reset */
*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p
{
    margin-bottom: 10px;
}
ol, ul, dl
{
    list-style-position: inside;
}
/** End reset */
/** Begin standard selectors */
body
{
    font: 13px 'Trebuchet MS' , Verdana, Helvetica, Arial, sans-serif;
}
a
{
    text-decoration: none;
}
a:link, a:visited
{
    color: inherit;
}
a:hover
{
    text-decoration: underline;
}
strong
{
    font-weight: 800;
    color: #000;
}
/** End standard selectors */

.jTable-main
{
    
}
.jTable-content
{
    
}

.jTable
{
    border-collapse: collapse;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.jTable-focus
{
    -moz-box-shadow: 5px 5px 5px #999;
    -webkit-box-shadow: 5px 5px 5px #999;
    -khtml-box-shadow: 5px 5px 5px #999;
    box-shadow: 5px 5px 5px #999;
}

    .jTable caption
    {
        font-size: 3em;
    }


    .jTable td, .jTable tr , .jTable th
    {
        border: 1px solid #ccc;
    }

    .jTable td, .jTable th
    {
        font-size: 3em;
        padding: 0.1em;
    }
    .jTable th
    {
        color: #aaa;
        font-size: 2em;
    }
    .jTable td
    {
        color: #333;
        padding: 5px;
        border: 1px solid #aaa;
        text-align: center;
    }

    .jTable-Row
    {
        background-color: #88ff88;
        color: #000;
    }

    .jTable-Edit-Cell
    {
        background-color: #eee;
        color: #000;
        font-size: inherit;
        border: 1px solid black;
        width: 100%;
        text-align: center;
    }
.jTable .jTable-options {
    background-color: #333;
    font-size: 0.5em;   
    height: 30px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    overflow: hidden;
    width: 100%;
}
caption .jTable-notify {
    color: #fff !important;
    width: 30%;
    height: 100%;
    float: left;
    text-align:left !important;
}
caption .jTable-menu
{
    border: 1px solid #eee;
    background-color: #aaccff;
    width: 30%;
    height: 100%;
    float:right;
    text-align: right;
}
    .jTable-options a:hover
    {
        color: #eee;
    }

    .jTable-edit, .jTable-save, .jTable-cancel
    {
        cursor: pointer;
        color: #0000aa;
        padding: 0 5px 0 5px;
             
    }
    /** Default rendering of save and cancel elements **/
    .jTable-save, .jTable-cancel, .jTable-notify-edit, .jTable-notify-save, .jTable-notify-cancel
    {
        display: none;
    }





